<ActionBar class="withpurpose_logo">
    <Label text="w/"></Label>
</ActionBar>

<GridLayout class="page__content">
    <MapView iosOverflowSafeArea="true" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom" [minZoom]="minZoom" [maxZoom]="maxZoom" [bearing]="bearing"
    (mapReady)="onMapReady($event)"></MapView>
</GridLayout>
