<ActionBar class="withpurpose_logo">
    <Label text="w/"></Label>
</ActionBar>

<GridLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf559;"></Label>
    <Label class="page__content-placeholder" text="Rewards page content goes here"></Label>
</GridLayout>
