<StackLayout orientation="vertical">
    <GridLayout columns="auto, *, auto" rows="30, auto" verticalAlignment="top">
        <Image src="font://&#xf104;" colSpan="1" row="0" (tap)="onBackTap()" class="fas t-20 m-l-10" horizontalAlignment="left"></Image>
        <Label fontSize="20" colSpan="2" row="0" [text]="restaurant.name" horizontalAlignment="center"></Label>
        <StackLayout class="hr dividerLine" row="1"></StackLayout>
    </GridLayout>

    <ScrollView orientation="vertical">
        <StackLayout orientation="vertical">
            <horizontal-scroll-component class="m-t-0" detailMode="true" [restaurant]="restaurant"></horizontal-scroll-component>
        
            <StackLayout>
                <GridLayout class="m-l-30 m-t-10" columns="auto,*,auto" rows="auto">
                    <Image src="font://&#xf017;" class="fas t-14" col="0" row="0"></Image>
                    <Label class="m-l-10" col="1" row="0" fontSize="13" text="Hours: {{restaurant.address1}}"></Label>
                </GridLayout>
                <GridLayout class="m-l-30 m-t-10" columns="auto,*,auto" rows="auto">
                    <Image src="font://&#xf3c5;" class="fas t-14" col="0" row="0"></Image>
                    <Label class="m-l-10" col="1" row="0" fontSize="13" text="Address: {{restaurant.address2}}"></Label>
                </GridLayout>
                <GridLayout class="m-l-30 m-t-10" columns="auto,*,auto" rows="auto">
                    <Image src="font://&#xf095;" class="fas t-14" col="0" row="0"></Image>
                    <Label class="m-l-10" col="1" row="0" fontSize="13" text="Phone: {{restaurant.address1}}"></Label>
                </GridLayout>
                <GridLayout class="m-l-30 m-t-10" columns="auto,*,auto" rows="auto">
                    <Image src="font://&#xf518;" class="fas t-14" col="0" row="0"></Image>
                    <Label class="m-l-10" col="1" row="0" fontSize="13" text="Menu: {{restaurant.address1}}"></Label>
                </GridLayout>
            </StackLayout>
            <StackLayout>
                <Label class="m-l-30 m-t-20" text="Discription:" fontSize="16"></Label>
                <Label textWrap="true" class="m-l-30 m-r-30 m-b-20" fontSize="14" text="Restaurant 1 aims to share delicious, wholesome, plant-based food that energized and amazes without compromising flavor or satisfaction. Our chef-driven menu features locally-sourced sustainable ingredients in their most natural form to create inspired dishes made by us daily. We are passionate about feeding our customers hearty, nourishing meals made from whole ingredients meant to have a positive impact on their overall well-being."></Label>
            </StackLayout>

            <GridLayout columns="auto, *, *, auto" rows="30" verticalAlignment="top" class="m-l-10 m-r-10 m-b-30">
                <Button col="1" row="0" class="action-button" text="Order" [nsRouterLink]="['../restaurantMenu']"></Button>
                <Button col="2" row="0" class="action-button" text="Reservation"></Button>
            </GridLayout>
        </StackLayout>
    </ScrollView>
</StackLayout>