<StackLayout orientation="vertical">
    <GridLayout columns="auto, *, auto" rows="30, auto" verticalAlignment="top">
        <Image src="font://&#xf104;" colSpan="1" row="0" (tap)="onBackTap()" class="fas t-20 m-l-10" horizontalAlignment="left"></Image>
        <Label fontSize="20" colSpan="2" row="0" text="{{restaurantDetail.name}}" horizontalAlignment="center"></Label>
        <StackLayout class="hr dividerLine" row="1"></StackLayout>
    </GridLayout>

    <ScrollView orientation="vertical">
        <Label text="11"></Label>
    </ScrollView>
</StackLayout>