<BottomNavigation>
    <TabStrip>
        <TabStripItem class="navigation__item">
            <Label text="Home"></Label>
            <Image src="font://&#xf015;" class="fas t-27"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Map"></Label>
            <Image src="font://&#xf279;" class="far t-27"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Rewards"></Label>
            <Image src="font://&#xf559;" class="fas t-27"></Image>
        </TabStripItem>
        <TabStripItem class="navigation__item">
            <Label text="Orders"></Label>
            <Image src="font://&#xf1da;" class="fas t-27"></Image>
        </TabStripItem>
    </TabStrip>

    <TabContentItem>
        <page-router-outlet actionBarVisibility="false" name="homeTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="mapTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="rewardsTab"></page-router-outlet>
    </TabContentItem>

    <TabContentItem>
        <page-router-outlet name="ordersTab"></page-router-outlet>
    </TabContentItem>
</BottomNavigation>
