@import "~@nativescript/theme/core";
@import "~@nativescript/theme/blue";

// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

// Font icon class
.fab {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
    font-weight: 400;
}

.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
    font-weight: 900;
}

.far {
    font-family: "Font Awesome 5 Free", "fa-regular-400";
    font-weight: 400;
}

// Custom tabstrip item class
.navigation__item {
    &:active,
    &:active Label {
        @include colorize($contrasted-color: complementary background 20% 0%);
        color: #85D554;
    }
    &:active Image {
        @include colorize($contrasted-color: complementary background 20% 0%);
        color: #85D554;
    }
}

.navigation__item > label {
    color: #999999;
}

.navigation__item > Image {
    color: #999999;
}

// Common page class
.page__content {
    &-icon,
    &-placeholder {
        color: const(grey);
        font-size: 20;
        vertical-align: center;
        horizontal-align: center;
    }

    &-icon {
        font-size: 72;
        vertical-align: top;
        margin-top: 20%;
    }
}

.withpurpose_logo {
    background-color: white;
    color: #85D554;
    font-size: 28px;
    horizontal-align: center;
    font-size: 28;
}

.withpurpose_logo > label{
    background-color: white;
    color: #85D554;
    font-size: 28px;
    horizontal-align: center;
}

.action_bar {
    background-color: white;
    color: black;
}

.action_bar > label {
    color: black;
    font-size: 24px;
}

.action-button {
    background-color: #85D554;
    border-radius: 25%;
    color: white;
}

.dividerLine {
    background-color: rgb(209, 208, 208);
    padding-top: 0;
}

.searchField {
    background-color: rgb(235, 235, 235);
    border-radius: 25%;
    margin-bottom: 0;
    padding: 7;
    padding-left: 15;
}
