<StackLayout orientation="vertical">
    <GridLayout columns="auto, *, auto" rows="30, auto, 20" verticalAlignment="top">
        <Label class="withpurpose_logo" text="w/" colSpan="2" row="0" horizontalAlignment="center" verticalAlignment="bottom"></Label>
        <!-- <TextField id="homeSearchTextField" class="searchField" hint="Search sustainable restaurants..." style.placeholderColor="gray" colSpan="2" row="1" returnKeyType="Search" text="{{searchKeyWord}}" (focus)="startSearch()" (blur)="cancelSearch()" (textChange)="searchRestaurant($event)"></TextField> -->
        <StackLayout class="hr dividerLine" row="3"></StackLayout>
    </GridLayout>

    <ScrollView *ngIf="!isSearch" orientation="vertical">
        <StackLayout>
            <horizontal-scroll-component header="Plant-Based" [restaurantList]="plantBasedRestaurants"></horizontal-scroll-component>
            <StackLayout class="hr dividerLine"></StackLayout>
            <horizontal-scroll-component header="Sustainable Seafood" [restaurantList]="sustainableSeafoodRestaurants"></horizontal-scroll-component>
            <StackLayout class="hr dividerLine"></StackLayout>
            <horizontal-scroll-component header="Zero-waste" [restaurantList]="zeroWasteRestaurants"></horizontal-scroll-component>
        </StackLayout>
    </ScrollView>

    <ListView *ngIf="isSearch && searchResultFound" class="searchBar" [items]="restaurants">
        <ng-template let-item="item">
            <StackLayout>
                <Label fontSize="14" [text]="item.name" (tap)="goToRestaurant(item)"></Label>
            </StackLayout>
        </ng-template>
    </ListView>

    <StackLayout *ngIf="isSearch && !searchResultFound">
        <StackLayout>
            <Label horizontalAlignment="center" text="No restaurant found" fontSize="14"></Label>
        </StackLayout>
    </StackLayout>
</StackLayout>