<GridLayout *ngIf="!detailMode" columns="auto,*,auto" rows="auto">
    <Label col="0" row="0" class="font-weight-bold"
        paddingLeft="10" fontSize="20" [text]="header"></Label>
    <Label col="2" row="0" class="font-weight-bold"
        marginRight="20" fontSize="14" color="#8d8d8d" text="View All"></Label>
</GridLayout>


<ScrollView *ngIf="!detailMode" orientation="horizontal">
    <StackLayout orientation="horizontal">
        <StackLayout *ngFor="let restaurant of restaurantList" margin="5">
            <StackLayout class="album-image" height="120"
                width="200" backgroundImage="{{restaurant.image_url}}"
                borderRadius="5" [nsRouterLink]="['../restaurantDetail']" (tap)="goToRestaurant(restaurant)">
            </StackLayout>
            <Label fontSize="14" class="font-weight-bold" color="#000000" [text]="restaurant.name"></Label>
            <GridLayout columns="auto,*,auto" rows="auto">
                <Label col="0" row="0" fontSize="12" color="#999999" text="{{ (restaurant.price_tag | priceTagPipe) + ', '}} "></Label>
                <Label col="2" row="0" fontSize="12" color="#999999" text="{{ restaurant.distance_from_user + ' mile away'}}"></Label>
            </GridLayout>
            <Label fontSize="12" color="#999999" text="{{ restaurant.category }}"></Label>
        </StackLayout>
    </StackLayout>
</ScrollView>

<ScrollView *ngIf="detailMode" orientation="horizontal">
    <StackLayout orientation="horizontal">
        <StackLayout *ngFor="let url of restaurant.image_url" margin="1">
            <StackLayout class="album-image" height="{{ detailPhotoHeight }}"
                width="{{ detailPhotoWidth }}" backgroundImage="{{url}}"
                borderRadius="5">
            </StackLayout>
        </StackLayout>
    </StackLayout>
</ScrollView>